@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Real-World Testing Scenarios</h1>
    <p>Explore the API with <a href="/swagger">Swagger</a>.</p>
    
    
</div>